.productDisplay {
    display: flex;
    margin: 0px 20px;
}

.productDisplayLeft {
    display: flex;
    flex: 1;
    gap: 17px;

}

.productDisplayImgList {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.productDisplayImgList img {
    height: 163px;

}

.productDisplayMainImg {
    max-width: 570px;
    height: 700px;
}

.productDisplayRight {
    margin: 0px 50px;
    display: flex;
    flex-direction: column;
    /* max-width: 650px; */
}

.productDisplayRight h1 {
    color: #3d3d3d3d;
    font-size: 40px;
    font-weight: 700;
}

.productDisplayRightStar {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}

.productDisplayRightPrices {
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}

.productDisplayRightPriceOld {
    color: #818181;
    text-decoration: line-through;
}


.productDisplayRightPriceNew {
    color: #ff4141;

}

.productDisplayRightPriceSize p {
    margin-top: 50px;
    color: #656565;
    font-size: 18px;
    font-weight: 600;

}


.productDisplayRightSizeContainer p {
    text-wrap: nowrap;
    margin-top: 15px;
    color: #ff4141;
}

.productDisplayRightSize div {
    padding: 8px 15px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productDisplayRightSize {
    display: flex;
    margin: 10px 0;
    /* gap: 20px; */
}


.productDisplayRight button {
    background: #ff4141;
    border: none;
    color: #f1f1f1;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 40px;
    outline: none;
    padding: 15px 30px;
    max-width: 200px;
}
.productDisplayRightCategory {
    margin-top: 10px;
}

.productDisplayRightCategory span {
    font-weight: 600;
}