.shopcategoryBanner {
    display: block;
    margin: 30px auto;
    width: 82%;

}

.shopcategoryIndexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;

}

.shopcategorySort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;

}

.shopCateogryIndexSort p span {
    font-weight: 600;

}

.shopcategoryProducts {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}